/*  mybootstrap5life.css */

/*
            html {
                  background-color: #000;  
                  color: #fed;

                  font-family: "Papyrus","Beirut","Costello", Fantasy;

                }

*/

            

                /*  is this doing anything at all???  */
                h3  {
                  color: #fda ;
                }
                
                .blakk  {
                  background-color: #000; /* black */
                  color: #fed;
                  font-family:  "Comic Sans MS", Fantasy;
                }
                .dturquoise {
                  background-color: #134; /* dark red  */
                  color: #fed;
                }                 
                .maroon {
                  background-color: #400; /* dark red  */
                  color: #fed;
                }
                .navy { 
                  color: #24f; 
                  background-color: #001333; 
                }       
                .dgreen {
                  background-color: #020;
                  color: #3f3;                   
                }  

                .img-container {
                text-align: center;
                 }
                 .white-text {
                 color: #fff8f0;
                font-family: "Papyrus","Beirut","Costello", Fantasy;
                 }
                 
                 