/*  mydefault.css */
body{  
  background-color: #023;
  color: #fed;
  font-family:  "Dosis", "Quicksand", Fantasy;
    /*
  font-family: "Unica One","Papyrus", cursive;

  font-family:  "Dosis", "Quicksand", Fantasy;
  */
    /* this margin appears to cover the whole page */
  margin: 35px 0px 35px 35px ;  /* top right bottom left */

    }
  
.table-center {     /* for centering tables */
  margin-left: auto;
  margin-right: auto;
}
.force-center, .img-container  { /* for centering just about everything else */
    text-align: center;
}
.force-left {
    text-align: left;
}
.force-right {
  text-align: right;
}


table {
border: 2px dashed #fed;
}
body tr {
  border: 2px dashed #fed;
  }
tfoot td {
  border-top: 2px dashed #fed;
  } 
  
dl dt /* description list */ {
  margin-left: 18px;
  color: #003;
  background-color: #fed;
  }
  /* why doesn't this work???
  tr td, tr th {
    margin-right: 10px;
  }
  */
  p.innerTableText {
    font-size: 27px;   
  }

  pre{ 
    font-family: "Unica One","Dosis","Papyrus", Fantasy;
  }
