/*  mydefault.css */

html{ /* does nothing. */

  font-family: "Dosis","Beirut","Costello", Fantasy;
}

body{  /* font doesnt work */

  background-color: #003;
  color: #def;
  font-family:  "Dosis", "Mukta", "Quicksand", Fantasy;
    /* this margin appears to cover the whole page */
  margin: 125px 0px 50px 200px ;  /* top right bottom left */

    }
  



.table-center {     /* for centering tables */
  margin-left: auto;
  margin-right: auto;
}
.force-center  { /* for centering just about everything else */
    text-align: center;
}
.force-left {
    text-align: left;
}
.force-right {
  text-align: right;
}

dl dt /* description list */ {
margin-left: 18px;
color: #003;
background-color: #def;

}
/* why doesn't this work???
tr td, tr th {
  margin-right: 10px;
}
*/
table {
border: 4px dashed #fed;
}
body tr {
  border: 4px dashed #fed;
  }
tfoot td {
  border-top: 4px dashed #fed;
  } 
  
p {
  font-size: 18px;
}

 



