/* the styles for the html elements */
/* 
html {
    background-color: rgb(192, 192, 192); 
    }
    */

body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
/*     width: 760px; */
    margin: 0 auto;
    color: #000060;
    background-color: #fff8f8;
    border: 1px solid navy;
    padding: .5em 2em;
}
header {
    margin: 0;
    border-bottom: 2px solid black;
}


/* input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  } */

  input {
     width: 60%; 
    border: none;
    border-bottom: 2px solid #05a;
    padding: 1px 1px;
    margin: 1px 0;

  }
  .genbutton {
    background-color: #4CAF50; /* Green */
    border: 1px solid black;
    color: white;
    padding: 3px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
  }

  .red-text {
        color: #ff6633;
        font-size: 12px;
  }

 @media(min-width:468px) {  
    .container-1 {
      display:flex;

/*       justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around; */

/*         align-items:flex-start;
        align-items:flex-end;
        align-items:center; */
        
/*         flex-direction:column; */

     }  
  
 /*    .container-2 {
      display: flex;

        justify-content:flex-start;
        justify-content:flex-end;
        justify-content:center;
        justify-content:space-around;

      justify-content: space-between;
    }   */
}
  .greybox
 {
    border: 1px #ccc solid;
    padding: 10px;
  } 
  
  .box-1 {
    flex: 1;
    order: 1;
    flex-wrap: wrap;
    flex: 1 1 100px;
  }
  
  .box-2 {
    flex: 5;
    order: 2;
    flex-wrap: wrap;
    flex: 3 3 100px;
  }
  
  .box-3 {
    flex: 4;
    order: 3;
    flex-wrap: wrap;
    flex: 4 4 100px;

 }
   .box->* {
    flex: 1 1 220px;
}   

  .image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}