/*  index1.css */
.bigfont {
font-size: 350%;
}
.block {
	display: block;
	height: 50px;
	width: 99%;
	border: none;
	background-color:gainsboro;
	color: black;
	padding: 14px 28px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
}
.block:hover {
	background-color: black;
	color: gainsboro;
}

body{  
  background-color: #023;
  color: #fed;
  font-family:  "Dosis", "Quicksand", Fantasy;
    /*
  font-family: "Unica One","Papyrus", cursive;

  font-family:  "Dosis", "Quicksand", Fantasy;
  */
    /* this margin appears to cover the whole page */
  margin: 35px 0px 35px 35px ;  /* top right bottom left */

    }
  
.image-center{


    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}
.width70{
  width:70%;
}
.width50{
  width:50%;
}
.width20{
  width:20%;
}
.table-center  {     /* for centering tables */
  margin-left: auto;
  margin-right: auto;
}
.force-center, .img-container  { /* for centering just about everything else */
    text-align: center;
}
.force-left {
    text-align: left;
}
.force-right {
  text-align: right;
}


table {
border: 2px dashed #fed;
}
body tr {
  border: 2px dashed #fed;
  }
tfoot td {
  border-top: 2px dashed #fed;
  } 
  
dl dt /* description list */ {
  margin-left: 18px;
  color: #003;
  background-color: #fed;
  }
  /* why doesn't this work???
  tr td, tr th {
    margin-right: 10px;
  }
  */

  hr {
    border: 1px dashed #fed;
  }
  p.innerTableText {
    font-size: 27px;   
  }

  pre{ 
    font-family: "Unica One","Dosis","Papyrus", Fantasy;
  }

  #DivForHoverItem {
    /*just so we can see it
    height: 50px;
    width: 150px;
    */
    height: 34px;

}

#HiddenText {
    display: none;
}

#DivForHoverItem:hover #HiddenText {
    display:block;
}

