.container {
  font-size: 28px;
  font-family: sans-serif;
  display: grid;
  grid-gap: 30px;
  background-color: #ddd;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
}

[class^='grid-item'] {
  outline: 4px #fb2 dashed;
  display: grid;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}

.grid-item3 {
  grid-column: 2/-1;
}

.grid-item6 {
  grid-row: 3/6;
  grid-column: 3 / 5;
}

.grid-item8 {
  grid-row: 2/ span 4;
  grid-column: 2/3;
}

.grid-item4 {
  grid-row: 4 / 7;
}

 .image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }
  .force-center, .img-container  { 
    text-align: center; 
  }